.insurance-navbar {
    background: linear-gradient(90deg, #0d6efd, #6610f2);
  }
  
  .navbar-brand {
    font-size: 20px;
    color: #fff !important;
  }
  
  .nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #f8f9fa !important;
    margin-left: 12px;
    transition: 0.3s;
  }
  
  .nav-link:hover {
    color: #ffe066 !important;
  }
  
  .active-link {
    color: #ffe066 !important;
    font-weight: bold;
    border-bottom: 2px solid #ffe066;
  }
  